<div class="flex flex-col items-center justify-center gap-2 p-1 lg:p-10 w-full min-h-[100vh] overflow-hidden">

    <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" class="flex flex-col gap-5 items-center rounded-3xl p-4 md:p-8 w-[95%] lg:w-[80%]">
        <div class="relative w-full">
            <input formControlName="password" type="password" class="w-full peer p-4 block bg-black/10 border-gray-200 rounded-xl sm:text-sm placeholder:text-transparent focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-[#1C2029] dark:border-neutral-[#1C2029] dark:text-neutral-400 dark:focus:ring-neutral-600 focus:pt-6 focus:pb-2 not-placeholder-shown:pt-6 not-placeholder-shown:pb-2 autofill:pt-6 autofill:pb-2" 
            placeholder="password">
            <label for="password" class="absolute top-0 start-0 p-4 h-full sm:text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent  origin-[0_0] dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-blue-700 peer-not-placeholder-shown:scale-90 peer-not-placeholder-shown:translate-x-0.5 peer-not-placeholder-shown:-translate-y-1.5 peer-not-placeholder-shown:text-blue-800 dark:text-neutral-500">
                Update password
            </label>
        </div>
        <div class="relative w-full">
            <input formControlName="confirmPassword" type="password" class="w-full peer p-4 block bg-black/10 border-gray-200 rounded-xl sm:text-sm placeholder:text-transparent focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-[#1C2029] dark:border-neutral-[#1C2029] dark:text-neutral-400 dark:focus:ring-neutral-600 focus:pt-6 focus:pb-2 not-placeholder-shown:pt-6 not-placeholder-shown:pb-2 autofill:pt-6 autofill:pb-2" 
            placeholder="confirmPassword">
            <label for="confirmPassword" class="absolute top-0 start-0 p-4 h-full sm:text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent  origin-[0_0] dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-blue-700 peer-not-placeholder-shown:scale-90 peer-not-placeholder-shown:translate-x-0.5 peer-not-placeholder-shown:-translate-y-1.5 peer-not-placeholder-shown:text-blue-800 dark:text-neutral-500">
                Confirm update password
            </label>
        </div>

        <button type="submit" class="submit-button">Update password</button>

    </form>

</div>